@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900:wght@400;500;600;700&display=swap');

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}